/*Defino las variables para los colores, y para facilitar el cambio*/
:root {
    --fondo-primario: #ccc;
    --fondo-secundario: #fff;
    --botones-oscuro: #c0392b;
    --botones-claro: #e74c3c;
    --cajas-secundarias-oscuro: #526b85;
    --cajas-secundarias-claro: #e67e22;
    --fuente-primaria: #000;
    --fuente-secundaria: #fff;
}
/*Empecmos definiendo que no tendrá margenes ni padding, y definiendo las cajas*/
*{
    /*max-width: 1200px;*/
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}
.main{
    background-color: var(--fondo-primario);
    width: 100%;
    max-width: 1200px;
    margin:auto;
}
.cabecera{
    background: var(--cajas-secundarias-oscuro);
    width: 100%;
    padding: 0px;
    padding-bottom: 0px;
}
.titulo{
    color: var(--fuente-secundaria);
    width: 100%;
    padding: 20px;
    margin-bottom: 0px;
    display: inline-block;
    
}

.titulo a img {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    padding: 20px;
    background-color: green;
    
}
.titulo a h1{
    display: inline-block;
    font-size: 30pt;
    background: red;
    
    
}
.navegacion {
    position: fixed;
    background: var(--cajas-secundarias-oscuro);
    width: 100%;
    padding: 0px;
    padding-bottom: 0px;
}
.navegacion nav {
    align-items: center;
    
}
.navegacion nav a {
    width: 100%;
    background: var(--botones-oscuro);
    color: var(--fuente-secundaria);
    text-align: center;
    /*Con esto quito el subrayado y color estandar de los enlaces*/
    text-decoration: none;
    padding: 10px;
}
.navegacion nav a:hover {
    background: var(--botones-claro);
}
