.e_interno_05, .e_interno_12 {
    background-color: var(--fondo-secundario);
    color: var(--fuente-textos);
}
.principal section img{
    width: 100%;
    margin-top: 40px;
}
.p_10 a{
    font-weight: bold;
    background-color: var(--botones-oscuro);
    color: var(--fuente-primaria);
    padding: 10px;
}
.p_10 a:hover {
    background-color: var(--botones-claro);
    color: var(--fuente-secundaria);
}