header nav .whoami {
    background: var(--fondo-primario);
    color: var(--fuente-primaria);
}
.main h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.main hr {
    margin: 20px;
}
.main .uno {
    text-align: justify;
}
.main .dos ul {
    text-align: justify;
}
.main .dos ul li {
    padding: 10px;
    margin-left: 20px;
}